<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>


<section class="panel panel-default">
  <nz-divider nzText="出差申请概况" nzOrientation="right"></nz-divider>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="4" style="font-weight: bold; color: black;">出差申请:</div>
    <div nz-col nzSpan="8">{{selectedErrand['eno'] + '(' +selectedErrand['applyDate'] + ')'}}</div>
  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="4" style="font-weight: bold; color: black;">本次差期:</div>
    <div nz-col nzSpan="8">
      <span>{{selectedErrand.dateRangeStart | date: 'yyyy 年 MM 月 dd 日 HH 时':'GMT+00:00'}}</span>
      至
      <span>{{selectedErrand.dateRangeEnd | date: 'yyyy 年 MM 月 dd 日 HH 时':'GMT+00:00'}}</span>
    </div>

  </div>
  <div nz-row nzType="flex" nzJustify="center">
    <div nz-col nzSpan="4" style="font-weight: bold; color: black;">目的地:</div>
    <div nz-col nzSpan="8">{{selectedErrand['target']}}</div>
  </div>
  <nz-divider nzText="车船票" nzOrientation="right"></nz-divider>

  <nz-list [nzDataSource]="savedTrips" nzBordered [nzHeader]="'行程'" [nzRenderItem]="defaultItem">
    <ng-template #defaultItem let-item>
      <nz-list-item nzNoFlex>
        <div style="width: 100%;">
          <div nz-col nzSpan="20">
            <span class="ant-typography"><mark>[行程]</mark></span>
            {{ item.start }} ( {{item.startAt | date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} ) - {{ item.finish }} ( {{item.finishAt |
            date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} )
          </div>
          <div nz-col nzSpan="2">
            {{item.amount}}<span style="font-weight: bold;"> 元</span>
          </div>
          <div nz-col nzSpan="2">
            <a nz-button nz-popover nzContent="删除" (click)="deleteTrip(item)"><i
              class="fa fa-trash-o text-danger-dk text-active"></i><i
              class="fa fa-trash-o text-danger-dk text"></i></a>
          </div>
        </div>
      </nz-list-item>
    </ng-template>
  </nz-list>
  <div nz-row nzType="flex" nzJustify="end">
    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>添加车船票</span></button>
  </div>

  <br/>
  <nz-divider nzText="往返路线" nzOrientation="right"></nz-divider>
  <div *ngIf="route">
    <div nz-row class="ant-list-item ng-star-inserted"
         style="border-bottom: 1px solid #e8e8e8; padding-left: 24px; padding-right: 24px;">
      <div>
        <mark>[去程]</mark>
        {{ route.come }} ( {{route.comeAt | date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} ) - {{ route.comeTo }} ( {{route.comeToAt |
        date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} )
      </div>
    </div>
    <div nz-row class="ant-list-item ng-star-inserted"
         style="border-bottom: 1px solid #e8e8e8; padding-left: 24px; padding-right: 24px;">
      <div>
        <mark>[返程]</mark>
        {{ route.back }} ( {{route.backAt | date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} ) - {{ route.backTo }} ( {{ route.backToAt |
        date: 'yyyy-MM-dd HH:mm':'GMT+00:00'}} )
      </div>
    </div>
  </div>

  <div nz-row nzType="flex" nzJustify="end">
    <button nz-button [nzType]="'primary'" (click)="showRouteModal()"><span>设置</span></button>
  </div>


  <nz-modal [(nzVisible)]="isRouteVisible" nzTitle="添加往返路线" (nzOnCancel)="isRouteVisible = false"
            nzMaskClosable=false [nzWidth]="800" (nzOnOk)="handleRouteOk()">
    <form nz-form [formGroup]="validateRouteForm" data-validate="parsley">
      <nz-divider nzText="去程" nzOrientation="right"></nz-divider>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 离开时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            [nzDisabledDate]="disabledRouteStartDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="离开时间"
            formControlName="comeAt"
            style="width: 100%"
            (nzOnOpenChange)="handleRouteStartOpenChange($event)">
          </nz-date-picker>
          <nz-form-explain *ngIf="validateRouteForm.get('comeAt').dirty&&validateRouteForm.get('comeAt').errors">
            <ng-container *ngIf="validateRouteForm.get('comeAt').hasError('required')">
              离开时间不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 到达时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            [nzDisabledDate]="disabledRouteEndDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="到达时间(请先确认开始时间)"
            formControlName="comeToAt"
            [nzOpen]="endRouteOpen"
            style="width: 100%"
            (nzOnOpenChange)="handleRouteEndOpenChange($event)">
          </nz-date-picker>
          <nz-form-explain *ngIf="validateRouteForm.get('comeToAt').dirty&&validateRouteForm.get('comeToAt').errors">
            <ng-container *ngIf="validateRouteForm.get('comeToAt').hasError('required')">
              到达时间不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 离开地点</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input placeholder="离开地点" formControlName="come"/>
          <nz-form-explain *ngIf="validateRouteForm.get('come').dirty&&validateRouteForm.get('come').errors">
            <ng-container *ngIf="validateRouteForm.get('come').hasError('required')">
              离开地点不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 到达地点</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input placeholder="到达地点" formControlName="comeTo"/>
          <nz-form-explain *ngIf="validateRouteForm.get('comeTo').dirty&&validateRouteForm.get('comeTo').errors">
            <ng-container *ngIf="validateRouteForm.get('comeTo').hasError('required')">
              到达地点不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-divider nzText="返程" nzOrientation="right"></nz-divider>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 离开时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            [nzDisabledDate]="disabledRouteBackStartDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="离开时间"
            formControlName="backAt"
            style="width: 100%"
            (nzOnOpenChange)="handleRouteBackStartOpenChange($event)">
          </nz-date-picker>
          <nz-form-explain *ngIf="validateRouteForm.get('backAt').dirty&&validateRouteForm.get('backAt').errors">
            <ng-container *ngIf="validateRouteForm.get('backAt').hasError('required')">
              离开时间不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 到达时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            [nzDisabledDate]="disabledRouteBackEndDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="到达时间(请先确认开始时间)"
            formControlName="backToAt"
            [nzOpen]="endRouteBackOpen"
            style="width: 100%"
            (nzOnOpenChange)="handleRouteBackEndOpenChange($event)">
          </nz-date-picker>
          <nz-form-explain *ngIf="validateRouteForm.get('backToAt').dirty&&validateRouteForm.get('backToAt').errors">
            <ng-container *ngIf="validateRouteForm.get('backToAt').hasError('required')">
              到达时间不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 离开地点</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input placeholder="离开地点" formControlName="back"/>
          <nz-form-explain *ngIf="validateRouteForm.get('back').dirty&&validateRouteForm.get('back').errors">
            <ng-container *ngIf="validateRouteForm.get('back').hasError('required')">
              离开地点不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="margin-bottom: 5px;">
        <nz-form-label [nzSpan]="8"> 到达地点</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input placeholder="到达地点" formControlName="backTo"/>
          <nz-form-explain *ngIf="validateRouteForm.get('backTo').dirty&&validateRouteForm.get('backTo').errors">
            <ng-container *ngIf="validateRouteForm.get('backTo').hasError('required')">
              到达地点不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>


  <nz-modal [(nzVisible)]="isVisible" nzTitle="添加车船票" (nzOnCancel)="handleCancel()"
            nzMaskClosable=false [nzWidth]="800" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" data-validate="parsley">
      <nz-form-item>
        <nz-form-label [nzSpan]="5"> 发车时间</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-date-picker
            [nzDisabledDate]="disabledStartDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="发车时间"
            formControlName="startAt"
            style="width: 100%"
            (nzOnOpenChange)="handleStartOpenChange($event)"
          >
          </nz-date-picker>
          <nz-form-explain *ngIf="validateForm.get('startAt').dirty&&validateForm.get('startAt').errors">
            <ng-container *ngIf="validateForm.get('startAt').hasError('required')">
              发车时间不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5"> 到达时间</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-date-picker
            [nzDisabledDate]="disabledEndDate"
            nzShowTime
            nzFormat="yyyy-MM-dd HH:mm"
            nzPlaceHolder="到达时间(请先确认开始时间)"
            formControlName="finishAt"
            [nzOpen]="endOpen"
            style="width: 100%"
            (nzOnOpenChange)="handleEndOpenChange($event)"
          >
          </nz-date-picker>
          <nz-form-explain
            *ngIf="validateForm.get('finishAt').dirty&&validateForm.get('finishAt').hasError('required')">
            到达时间不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">起始站点</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input nz-input placeholder="起点" formControlName="start"/>
          <nz-form-explain
            *ngIf="validateForm.get('start').dirty&&validateForm.get('start').hasError('required')">
            起点不能为空！
          </nz-form-explain>
        </nz-form-control>
        <nz-form-control [nzSpan]="1" style="text-align: center;"> -</nz-form-control>
        <nz-form-control [nzSpan]="9">
          <input nz-input placeholder="终点" formControlName="finish"/>
          <nz-form-explain
            *ngIf="validateForm.get('finish').dirty&&validateForm.get('finish').hasError('required')">
            终点不能为空！
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">票面金额</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <nz-input-number
            formControlName="amount"
            [nzMin]="1"
            [nzStep]="1"
            style="width: 100%"
            [nzPlaceHolder]="'票面金额'"
          ></nz-input-number>
          <nz-form-explain
            *ngIf="validateForm.get('amount').dirty&&validateForm.get('amount').hasError('required')">
            终点不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

  <div style="text-align: center;">
    <button nz-button nzType="default" routerLink="/app/errand">返回</button>
  </div>

</section>
