<div id="myflow_tools"
     style="position: absolute; top: 10px; left: 10px; background-color: #fff; width: 70px; cursor: default; padding: 3px;"
     class="ui-widget-content">
  <div id="myflow_tools_handle" style="text-align: center;"
       class="ui-widget-header">工具集
  </div>


  <div class="node" id="myflow_save"><img src="assets/images/process/save.gif"/>&nbsp;&nbsp;保存</div>
  <div>
    <hr/>
  </div>
  <div class="node selectable" id="pointer"><img
    src="assets/images/process/select16.gif"/>&nbsp;&nbsp;选择
  </div>
  <div class="node selectable" id="path"><img
    src="assets/images/process/16/flow_sequence.png"/>&nbsp;&nbsp;转换
  </div>
  <div>
    <hr/>
  </div>
  <div class="node state" id="start" type="start"><img
    src="assets/images/process/16/start_event_empty.png"/>&nbsp;&nbsp;开始
  </div>
  <div class="node state" id="state" type="state"><img
    src="assets/images/process/16/task_empty.png"/>&nbsp;&nbsp;状态
  </div>
  <div class="node state" id="task" type="task"><img
    src="assets/images/process/16/task_empty.png"/>&nbsp;&nbsp;任务
  </div>
  <div class="node state" id="fork" type="fork"><img
    src="assets/images/process/16/gateway_parallel.png"/>&nbsp;&nbsp;分支
  </div>
  <div class="node state" id="join" type="join"><img
    src="assets/images/process/16/gateway_parallel.png"/>&nbsp;&nbsp;合并
  </div>
  <div class="node state" id="end" type="end"><img
    src="assets/images/process/16/end_event_terminate.png"/>&nbsp;&nbsp;结束
  </div>
  <div class="node state" id="end-cancel" type="end-cancel"><img
    src="assets/images/process/16/end_event_cancel.png"/>&nbsp;&nbsp;取消
  </div>
  <div class="node state" id="end-error" type="end-error"><img
    src="assets/images/process/16/end_event_error.png"/>&nbsp;&nbsp;错误
  </div>
</div>

<div id="myflow_props"
     style="position: absolute; top: 30px; right: 50px; background-color: #fff; width: 220px; padding: 3px;"
     class="ui-widget-content">
  <div id="myflow_props_handle" class="ui-widget-header">属性</div>
  <table border="1" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td>aaa</td>
    </tr>
    <tr>
      <td>aaa</td>
    </tr>
  </table>
  <div>&nbsp;</div>
</div>

<div id="myflow"></div>
