<div #print class="print" style="margin-top: 20px">
  <div class="half-page" style="margin-top: 2em;">
    <div style="margin-top: 2em;">
      <div style="text-align: right; font-size: 26px; width: 65%; display: inline-block;"><span
        style="border-bottom: 4px double black;letter-spacing: 5px;">外阜出差费报销单</span></div>
      <div style="display: inline-block; width: 35%; text-align: center;">
        <div class="eno-left"><label>编号</label></div>
        <div class="eno-right"><label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </label></div>
      </div>
    </div>
    <div style="text-align: center;">
      <label style="width: 75%; font-size: 12px;">报销日期: {{selected.applyDate | date: 'yyyy 年 MM 月 dd 日'}}</label>
      <label>附 单据&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;张</label>
    </div>
    <table style="width: 100%; border: 2px solid black;text-align: center; font-size: 12px;">
      <tbody>
      <tr>
        <td colspan="2">部门</td>
        <td colspan="3">{{selected['orgName']}}</td>
        <td colspan="2">出差人姓名</td>
        <td colspan="3">{{selected['username']}}</td>
        <td colspan="2">事由</td>
        <td colspan="5">{{selected['plan']}}</td>
      </tr>
      <tr>
        <td colspan="6">起止时间、地址</td>
        <td rowspan="2">车船票<br/>飞机票</td>
        <td colspan="2">未乘卧铺补贴</td>
        <td colspan="2">住宿费</td>
        <td colspan="2">住勤补贴</td>
        <td rowspan="2">市内<br/>交通费</td>
        <td colspan="2" style="border-right: 2px solid black;">其他费用</td>
      </tr>
      <tr>
        <td>月/日</td>
        <td>时</td>
        <td>起程</td>
        <td>月/日</td>
        <td>时</td>
        <td>到达</td>
        <td>人/天</td>
        <td>金额</td>
        <td>人/天</td>
        <td>金额</td>
        <td>人/天</td>
        <td>金额</td>
        <td>摘要</td>
        <td style="border-right: 2px solid black;">金额</td>
      </tr>
      <tr *ngFor="let item of trips; let i = index">
        <td>{{item.startAt | date: 'MM/dd'}}</td>
        <td>{{item.startAt | date: 'HH':'GMT+00:00'}}</td>
        <td>{{item.start}}</td>
        <td>{{item.finishAt | date: 'MM/dd'}}</td>
        <td>{{item.finishAt | date: 'HH':'GMT+00:00'}}</td>
        <td>{{item.finish}}</td>
        <td>￥{{item.amount}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngIf="i == 0">￥{{trafficAmount()}}</td>
        <td *ngIf="i != 0"></td>
        <td><span *ngIf="route && i == 0">差补</span></td>
        <td style="border-right: 2px solid black;"><span *ngIf="route && i == 0">￥{{60 * route.days}}</span></td>
      </tr>
      <tr>
        <td>/</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="border-right: 2px solid black;"></td>
      </tr>
      <tr>
        <td colspan="6">
          <div>
            <div style="display: inline-block; text-align: left; width: 30%;">合计</div>
            <div style="display: inline-block; text-align: left; width: 30%;">￥{{amount()}}
            </div>
            <div style="display: inline-block; text-align: right; width: 40%;">小计</div>
          </div>
        </td>
        <td>￥{{subtotal().trip}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>￥{{trafficAmount()}}</td>
        <td></td>
        <td style="border-right: 2px solid black;">￥{{other()}}</td>
      </tr>
      <tr style="font-size: 14px; text-align: left">
        <td colspan="16" style="border-right: 2px solid black;">
          <div style="display: inline-block; width: 15%;">
            <label style="font-weight: bold;">原借支￥</label>
          </div>
          <div style="display: inline-block; width: 15%;">
            <label style="font-weight: bold;">核销￥</label>
          </div>
          <div style="display: inline-block; width: 15%;">
            <label style="font-weight: bold;">退补￥</label>
          </div>
          <div style="display: inline-block; width: 55%;">
            <div style="display: inline-block; font-weight: bold; width: 38%;">共计人民币（大写）</div>

            <div style="display: inline-block; width: 60%; text-align: right;">
              {{amount() | chm}}
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div style="display: inline-block; width: 100%;">
      <div style="display: inline-block;width: 20%;">
        <span>财会主管</span>
      </div>
      <div style="display: inline-block;width: 15%;">
        <span>记账</span>
      </div>
      <div style="display: inline-block;width: 15%;">
        <span>出纳</span>
      </div>
      <div style="display: inline-block;width: 20%;">
        <span>部门主管</span>
      </div>
      <div style="display: inline-block;width: 30%;">
        <span>出差报销人员</span>
        <span>：  {{selected.username}}</span>
      </div>
    </div>
  </div>
</div>
