.eno-left {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: inline-block;
}

.eno-right {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
}

td {
  border: 1px solid black;
}
