<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>
<nz-tabset>
  <nz-tab nzTitle="流程定义">
    <section class="scrollable">
      <section class="panel panel-default">
        <div class="row wrapper">
          <div class="col-sm-5 m-b-xs flex-left">
            <div class="btn-group" data-toggle="buttons">
              <a routerLinkActive="active" routerLink="{{urls.BUSINESS.WORKFLOW.ADD}}" class="btn btn-sm btn-success">
                <i class="fa fa-plus fa-fw m-r-xs"></i>新建
              </a>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="请输入流程名称..." [(ngModel)]="formData.name"
                     (keyup.enter)="loadEntities()">
              <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" (click)="loadEntities()">搜索</button>
                      </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light">
            <thead>
            <tr>
              <th *ngFor="let item of listHeader" [ngStyle]="{'width': item.width}">{{item.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of entities; let i = index">
              <td *ngFor="let head of listHeader">
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'timeStamp'">{{formateDate(item[head.field])}}</span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'enum'">
                  <p *ngFor="let obj of head.options">
                    {{obj.value == item[head.field] ? obj.name: ''}}
                  </p>
                </span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}"
                      *ngIf="head.type === 'text'">{{item[head.field]}}</span>
                <div class="" *ngIf="head.field === 'option'">
                  <a nz-button nz-popover nzContent="编辑" (click)="edit({id: item.id})"><i
                    class="fa fa-edit text-success text-active"></i><i
                    class="fa fa-edit text-success text"></i></a>

                  <a nz-button nz-popover nzContent="删除" (click)="remove(item)"><i
                    class="fa fa-trash-o text-danger-dk text-active"></i><i
                    class="fa fa-trash-o text-danger-dk text"></i></a>

                  <a nz-button nz-popover nzContent="发布" (click)="publish(item)"><i
                    class="fa icon-paper-plane text-primary-dk text-active"></i><i
                    class="fa icon-paper-plane text-primary-dk text"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <nz-pagination [(nzPageIndex)]="formData.currentPage" [nzTotal]="formData.totalNum"
                           (nzPageIndexChange)="loadEntities()"></nz-pagination>
          </div>
        </footer>
      </section>
    </section>


  </nz-tab>
  <nz-tab nzTitle="已定义流程">
    <section class="scrollable">
      <section class="panel panel-default">
        <div class="row wrapper">
          <div class="col-sm-5 m-b-xs flex-left">
            <div class="btn-group" data-toggle="buttons">
              <a routerLinkActive="active" routerLink="/app/menus/add" class="btn btn-sm btn-success">
                <i class="fa fa-plus fa-fw m-r-xs"></i>新建
              </a>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="请输入流程名称..." [(ngModel)]="deployedFormData.name"
                     (keyup.enter)="loadDefinitionEntities()">
              <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" (click)="loadDefinitionEntities()">搜索</button>
                      </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light">
            <thead>
            <tr>
              <th *ngFor="let item of definitionHeader" [ngStyle]="{'width': item.width}">{{item.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of definitionEntities; let i = index">
              <td *ngFor="let head of definitionHeader">
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'timeStamp'">{{formateDate(item[head.field])}}</span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'enum'">
                  <p *ngFor="let obj of head.options">
                    {{obj.value == item[head.field] ? obj.name: ''}}
                  </p>
                </span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}"
                      *ngIf="head.type === 'text'">{{item[head.field]}}</span>

                <div class="" *ngIf="head.field === 'option'">
                  <a nz-button nz-popover nzContent="编辑"><i
                    class="fa fa-edit text-success text-active"></i><i
                    class="fa fa-edit text-success text"></i></a>

                  <a nz-button nz-popover nzContent="删除" (click)="removeDeployed(item)"><i
                    class="fa fa-trash-o text-danger-dk text-active"></i><i
                    class="fa fa-trash-o text-danger-dk text"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <nz-pagination [(nzPageIndex)]="deployedFormData.currentPage" [nzTotal]="deployedFormData.totalNum"
                           (nzPageIndexChange)="loadDeployedEntities()"></nz-pagination>
          </div>
        </footer>
      </section>
    </section>
  </nz-tab>
  <nz-tab nzTitle="已发布流程">
    <section class="scrollable">
      <section class="panel panel-default">
        <div class="row wrapper">
          <div class="col-sm-5 m-b-xs flex-left">
            <div class="btn-group" data-toggle="buttons">
              <a routerLinkActive="active" routerLink="/app/menus/add" class="btn btn-sm btn-success">
                <i class="fa fa-plus fa-fw m-r-xs"></i>新建
              </a>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" class="input-sm form-control" placeholder="请输入流程名称..." [(ngModel)]="deployedFormData.name"
                     (keyup.enter)="loadDeployedEntities()">
              <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" (click)="loadDeployedEntities()">搜索</button>
                      </span>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped b-t b-light">
            <thead>
            <tr>
              <th *ngFor="let item of deployedListHeader" [ngStyle]="{'width': item.width}">{{item.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of deployedEntities; let i = index">
              <td *ngFor="let head of deployedListHeader">
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'timeStamp'">{{formateDate(item[head.field])}}</span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}" *ngIf="head.type === 'enum'">
                  <p *ngFor="let obj of head.options">
                    {{obj.value == item[head.field] ? obj.name: ''}}
                  </p>
                </span>
                <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, cursor: 'pointer'}"
                      *ngIf="head.type === 'text'">{{item[head.field]}}</span>

                <div class="" *ngIf="head.field === 'option'">
                  <a nz-button nz-popover nzContent="编辑"><i
                    class="fa fa-edit text-success text-active"></i><i
                    class="fa fa-edit text-success text"></i></a>

                  <a nz-button nz-popover nzContent="删除" (click)="removeDeployed(item)"><i
                    class="fa fa-trash-o text-danger-dk text-active"></i><i
                    class="fa fa-trash-o text-danger-dk text"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <footer class="panel-footer">
          <div class="row">
            <nz-pagination [(nzPageIndex)]="deployedFormData.currentPage" [nzTotal]="deployedFormData.totalNum"
                           (nzPageIndexChange)="loadDeployedEntities()"></nz-pagination>
          </div>
        </footer>
      </section>
    </section>
  </nz-tab>
</nz-tabset>
