<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>
<section class="scrollable">
  <section class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs flex-left">
        <div class="btn-group" data-toggle="buttons">
          <a routerLinkActive="active" routerLink="/app/users/add" class="btn btn-sm btn-success">
            <i class="fa fa-plus fa-fw m-r-xs"></i>新建
          </a>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button">Go!</button>
                      </span>
        </div>
      </div>
    </div>
    <app-list [listBody]="users"
              (optinEvent)="priceQuoteHandler($event)"
              [listHead]="listHeader" [indexNum]="(pageination.curPage - 1) * pageination.pageSize"></app-list>
    <footer class="panel-footer">
      <div class="row">
        <app-pagination [curPage]="pageination.curPage" [pageSize]="pageination.pageSize"
                        [totalNum]="pageination.totalNum"></app-pagination>
      </div>
    </footer>
  </section>
</section>
