<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>
<section class="scrollable">
  <section class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs flex-left">
        <div class="btn-group" data-toggle="buttons">
          <a routerLinkActive="active" routerLink="/app/reimbursement/add" class="btn btn-sm btn-success">
            <i class="fa fa-plus fa-fw m-r-xs"></i>新建
          </a>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="请输入报销名称..." [(ngModel)]="formData.name"
                 (keyup.enter)="loadEntities()">
          <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" (click)="loadEntities()">搜索</button>
                      </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
        <tr>
          <th *ngFor="let item of listHeader" [ngStyle]="{'width': item.width}">{{item.title}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of reimbursements; let i = index">
          <td *ngFor="let head of listHeader">
            <span *ngIf="head.type == 'text'" ngClass="{{head.class}}"
                  [ngStyle]="{'width': item.width, 'cursor': item.cursor}">{{item[head.field]}}</span>
            <span *ngIf="head.type == 'union'" ngClass="{{head.class}}"
                  [ngStyle]="{'width': item.width, cursor: 'pointer'}" (click)="clickFnFlow(item)">{{unionHead(item, head)}}</span>
            <span ngClass="{{head.class}}" [ngStyle]="{'width': item.width, 'cursor': 'pointer'}" *ngIf="head.type === 'enum'" (click)="clickFnFlow(item)">
                  <p *ngFor="let obj of head.options">
                    {{obj.value == item[head.field] ? obj.name: ''}}
                  </p>
                </span>
            <div class="" *ngIf="head.field === 'option'">
              <a nz-button nz-popover nzContent="编辑" (click)="edit({id: item.id})" *ngIf="! item['task']"><i
                class="fa fa-edit text-success text-active"></i><i
                class="fa fa-edit text-success text"></i></a>

              <a nz-button nz-popover nzContent="删除" (click)="remove({id: item.id}, item.name)"
                 *ngIf="! item['task']"><i
                class="fa fa-trash-o text-danger-dk text-active"></i><i
                class="fa fa-trash-o text-danger-dk text"></i></a>

              <a nz-button nz-popover nzContent="提交申请" (click)="showModal(item.id)" *ngIf="isShowApplyButton(item)"><i
                class="fa fa-sitemap text-info-dk text-active"></i><i
                class="fa fa-sitemap text-info-dk text"></i></a>

              <a nz-button nz-popover nzContent="审核" (click)="showExamModal(item)" *ngIf="isShowExamButton(item)"><i
                class="fa fa-gavel text-info-dk text-active"></i><i
                class="fa fa-gavel text-info-dk text"></i></a>

              <a nz-button nz-popover nzContent="当前" (click)="current(item)"><i
                class="fa fa-gavel text-info-dk text-active"></i><i
                class="fa fa-gavel text-info-dk text"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <nz-pagination [(nzPageIndex)]="formData.currentPage" [nzTotal]="formData.totalNum"
                       (nzPageIndexChange)="loadEntities()"></nz-pagination>
      </div>
    </footer>
  </section>
</section>


<nz-modal [(nzVisible)]="isVisible" nzTitle="提交申请" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <nz-select [(ngModel)]="selectedValue" nzPlaceHolder="请选择流程" style="width: 100%;">
    <nz-option *ngFor="let item of deployedProcess" nzValue="{{item.id}}" nzLabel="{{item.resourceName}}"></nz-option>
  </nz-select>
</nz-modal>


<nz-modal [(nzVisible)]="isVisibleFlow" [nzWidth]="800" nzTitle="流程信息" (nzOnCancel)="isVisibleFlow=false"
          [nzFooter]="null">
  <div>
    <div style="overflow: auto;">
      <img style="width: 100%;" src="{{taskImageUrl}}">
    </div>
    <div class="show-details">
      <label>申请名称: </label>
      <span>{{selectItem.name}}</span>
    </div>

    <div class="show-details">
      <label>申请金额: </label>
      <span>{{selectItem.amount}}</span>
    </div>

    <div class="show-details">
      <label>申请备注: </label>
      <span>{{selectItem.description}}</span>
    </div>
    <div class="comment-content">
      <label class="comment-title"><b>审核过程</b></label>
      <table>
        <thead>
        <tr>
          <th style="width: 40%;">步骤</th>
          <th style="width: 40%;">审批意见</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of comments">
          <td>{{c.taskname}}</td>
          <td>{{c.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <nz-timeline>
      <nz-timeline-item *ngFor="let c of comments">
        <li>{{c.userId}} 在 {{c.taskname}} 表示: {{c.message}}</li>
        <li>{{c.createdTime | date:'y-MM-dd HH:mm:ss'}}</li>
      </nz-timeline-item>
      <nz-timeline-item>Solve initial network problems 2015-09-01</nz-timeline-item>
      <nz-timeline-item>Technical testing 2015-09-01</nz-timeline-item>
      <nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>
    </nz-timeline>
  </div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleExam" nzTitle="审核" [nzFooter]="modalFooter" (nzOnCancel)="handleExamClose()">
  <div>
    <div style="overflow: auto;">
      <img style="width: 100%" src="{{taskImageUrl}}">
    </div>
    <div class="show-details">
      <label>申请名称: </label>
      <span>{{selectItem.name}}</span>
    </div>

    <div class="show-details">
      <label>申请金额: </label>
      <span>{{selectItem.amount}}</span>
    </div>

    <div class="show-details">
      <label>申请备注: </label>
      <span>{{selectItem.description}}</span>
    </div>
    <div class="comment-content">
      <label class="comment-title"><b>审核过程</b></label>
      <table>
        <thead>
        <tr>
          <th style="width: 40%;">步骤</th>
          <th style="width: 40%;">审批意见</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of comments">
          <td>{{c.taskname}}</td>
          <td>{{c.message}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <textarea rows="2" nz-input [(ngModel)]="commitForm.commontValue" placeholder="请输入审核备注..."></textarea>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleExamCancel()">驳回</button>
    <button nz-button nzType="primary" (click)="handleExamOk()">同意</button>
  </ng-template>
</nz-modal>
