<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
<link rel="stylesheet" href="/assets/css/reset.css" type="text/css"/>

<div id="particles-js">
  <div class="login">
    <div class="login-top">
      登录
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/assets/img/name.png"/></div>
      <div class="login-center-input">
        <input type="text" name="username" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的用户名'"/>
        <div class="login-center-input-text">用户名</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img"><img src="/assets/img/password.png"/></div>
      <div class="login-center-input">
        <input type="password" name="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''"
               onblur="this.placeholder='请输入您的密码'"/>
        <div class="login-center-input-text">密码</div>
      </div>
    </div>
    <div class="login-center clearfix">
      <div class="login-center-img" style="width: 15%;">验证码</div>
      <div class="login-center-input" style="width: 77%;">
        <input type="text" name="qrcode" value="" placeholder="请输入验证码" onfocus="this.placeholder=''" (keyup.enter)="login($event)"
               onblur="this.placeholder='验证码'" style="width: 50%;"/>
        <div style="width: 50%; display: inline-block;text-align: center;"><span>{{contentData.qrcode || '0000'}}</span></div>
      </div>
    </div>
    <div class="login-button" (click)="login()">
      登陆
    </div>
  </div>
  <div class="sk-rotating-plane"></div>
</div>
