<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" data-validate="parsley">
  <section class="panel panel-default">
    <div class="panel-body">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="username" placeholder="请输入用户名...">
          <nz-form-explain
            *ngIf="validateForm.get('username').dirty && validateForm.get('username').errors || validateForm.get('username').pending ">
            <ng-container *ngIf="validateForm.get('username').hasError('required')">
              用户名不能为空！
            </ng-container>
            <ng-container *ngIf="validateForm.get('username').hasError('duplicated')">
              该用户名已经被使用！请修改
            </ng-container>
            <ng-container *ngIf="validateForm.get('username').pending">
              正在验证中
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>昵称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input type="text" formControlName="nickname" placeholder="请输入昵称...">
          <nz-form-explain *ngIf="validateForm.get('nickname').dirty&&validateForm.get('nickname').errors">
            <ng-container *ngIf="validateForm.get('nickname').hasError('required')">
              昵称不能为空！
            </ng-container>
            <ng-container *ngIf="validateForm.get('nickname').hasError('maxlength')">
              昵称长度不超过6个！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>邮箱</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="email" placeholder="请输入邮箱..." type="email">
          <nz-form-explain *ngIf="validateForm.get('email').dirty&&validateForm.get('email').errors">
            <ng-container *ngIf="validateForm.get('email').hasError('email')">
              请输入正确格式的邮箱账号！
            </ng-container>
            <ng-container *ngIf="validateForm.get('email').hasError('required')">
              邮箱账号不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>坐标地址</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input type="text" formControlName="address" placeholder="请输入坐标地址...">
          <nz-form-explain *ngIf="validateForm.get('address').dirty&&validateForm.get('address').errors">
            <ng-container *ngIf="validateForm.get('address').hasError('required')">
              Please confirm your address!
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>手机号码</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input type="text" formControlName="mobile" placeholder="请输入手机号码...">
          <nz-form-explain *ngIf="validateForm.get('mobile').dirty&&validateForm.get('mobile').errors">
            <ng-container *ngIf="validateForm.get('mobile').hasError('required')">
              手机号码不能为空！
            </ng-container>
            <ng-container *ngIf="validateForm.get('mobile').hasError('pattern')">
              手机号码格式不正确！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>个人信息</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <textarea formControlName="remark" nz-input rows="2" placeholder="简短介绍..."></textarea>
          <nz-form-explain
            *ngIf="validateForm.get('remark').dirty&&validateForm.get('remark').hasError('remark')">
            简介不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control style="text-align: center;" [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{_i18n.BUTTON.COMMIT || '提交'}}</button>
          <button class="btn-danger" nz-button (click)="resetForm($event)">{{_i18n.BUTTON.RESET || '重置'}}</button>
          <button class="btn-default" nz-button routerLinkActive="active" routerLink="/app/users">{{_i18n.BUTTON.CANCEL || '取消'}}</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </section>
</form>
