
.section{
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  /*.skip-header{*/
  /*padding-top: 50px;*/
  /*}*/
}

@media (min-width: 768px) {
  .skip-header {
    padding-top: 50px;
  }
}
