<div class="bg hidden-xs" (click)="slideFooter()">
  <div class="dropup wrapper-sm clearfix">
    <a>
      <span class="thumb-sm avatar pull-left m-l-xs">
        <nz-avatar [nzText]="userInfo.username"
                   style="color: #263c32; background-color: #fde3cf; height: 40px; width: 40px; line-height: 40px;"></nz-avatar>
        <i class="on b-black"></i>
      </span>
      <span class="hidden-nav-xs clear">
        <span class="block m-l">
          <strong class="font-bold text-lt">{{userInfo.username}}</strong>
        </span>
        <span class="text-muted text-xs block m-l">{{userInfo.rolename}}</span>
      </span>
    </a>
  </div>
</div>
