<nav class="nav-primary hidden-xs">
  <ul class="nav bg clearfix">
  </ul>
  <ul class="nav bg clearfix" *ngIf="menuList">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
      快捷
    </li>
    <li *ngFor="let item of menuList" class="{{item.active}}">
      <a routerLinkActive="active" routerLink="{{item.address}}">
        <i class="{{item.icon}}"></i>
        <span class="font-bold">{{item.menuname}}</span>
        <b class="badge bg-danger dker pull-right">999+</b>
      </a>
    </li>
    <li class="m-b hidden-nav-xs"></li>
  </ul>
  <ul class="nav" data-ride="collapse" *ngIf="menuTree">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
      全部
    </li>
    <li *ngFor="let item of level1()">
      <a class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
        <i class="{{item.icon}}">
        </i>
        <span>{{item.menuname}}</span>
      </a>
      <ul class="nav dk text-sm">
        <li *ngFor="let m of level2(item.id)">
          <a class="auto" routerLinkActive="active" routerLink="{{m.address}}">
            <i class="{{m.icon}}"></i>
            <span>{{m.menuname}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
