<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" data-validate="parsley">
  <section class="panel panel-default">
    <div class="panel-body">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>角色名</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="roleName" placeholder="请输入角色名...">
          <nz-form-explain
            *ngIf="validateForm.get('roleName').dirty && validateForm.get('roleName').errors || validateForm.get('roleName').pending ">
            <ng-container *ngIf="validateForm.get('roleName').hasError('required')">
              角色名不能为空！
            </ng-container>
            <ng-container *ngIf="validateForm.get('roleName').hasError('duplicated')">
              该角色名已经被使用！请修改
            </ng-container>
            <ng-container *ngIf="validateForm.get('roleName').pending">
              正在验证中
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>角色信息</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea formControlName="remark" nz-input rows="2" placeholder="简短介绍..."></textarea>
          <nz-form-explain
            *ngIf="validateForm.get('remark').dirty&&validateForm.get('remark').hasError('required')">
            简介不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control style="text-align: center;" [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{_i18n.BUTTON.COMMIT}}</button>
          <button class="btn-danger" nz-button (click)="resetForm($event)">{{_i18n.BUTTON.RESET}}</button>
          <button class="btn-default" nz-button routerLinkActive="active" routerLink="/app/roles">{{_i18n.BUTTON.CANCEL}}</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </section>
</form>
