<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" data-validate="parsley">
  <section class="panel panel-default">
    <div class="panel-body">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>报销名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="name" placeholder="请输入报销名称...">
          <nz-form-explain
            *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors || validateForm.get('name').pending ">
            <ng-container *ngIf="validateForm.get('name').hasError('required')">
              用户名不能为空！
            </ng-container>
            <ng-container *ngIf="validateForm.get('name').hasError('duplicated')">
              该用户名已经被使用！请修改
            </ng-container>
            <ng-container *ngIf="validateForm.get('name').pending">
              正在验证中
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>报销数额</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-input-number formControlName="amount" nz-input rows="2" placeholder="报销数额..." [nzMin]="1"
                           style="width: 100%;"></nz-input-number>
          <nz-form-explain
            *ngIf="validateForm.get('amount').dirty&&validateForm.get('amount').hasError('required')">
            简介不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>描述介绍</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea formControlName="description" nz-input rows="2" placeholder="描述介绍..."></textarea>
          <nz-form-explain
            *ngIf="validateForm.get('description').dirty&&validateForm.get('description').hasError('required')">
            简介不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control style="text-align: center;" [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
          <button class="btn-danger" nz-button (click)="resetForm($event)">重置</button>
          <button class="btn-default" nz-button routerLinkActive="active" routerLink="/app/reimbursement">取消</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </section>
</form>
