<div class="row" style="padding: 20px 20px 0px 0px" #print>
  <div style="text-align: center"><img src="http://127.0.0.1:4200/assets/img/goshine.png"
                                       style="transform: scale(1.5);"></div>
  <div>
    <div style="display: inline-block;width: 70%;">
      <span style="font-size: 25px;color: black; font-weight: bold;">出差补贴统计单</span>
    </div>
    <div style="display: inline-block; width: 30%">
      <span>ST-MT-02 v1.0.0</span>
    </div>
    <div>
      <label style="width: 50%;">部门: {{selected['orgName']}}</label>
      <label>出差人: {{selected['username']}}</label>
    </div>
  </div>
  <table class="etable">
    <thead>
      <th>序号</th>
      <th>出发</th>
      <th>&nbsp;</th>
      <th>到达</th>
      <th>&nbsp;</th>
      <th>天数</th>
      <th>补贴金额</th>
      <th>备注</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <u>2019</u>年
          <u>06</u>月
          <u>10</u>日
          <u>09:25</u>时
          <span>从</span>
          <u>杭州</u>出发
        </td>
        <td> </td>
        <td>
          <u>2019</u>年
          <u>07</u>月
          <u>2</u>日
          <u>09:25</u>时
          <span>到达</span>
          <u>南昌</u>
        </td>
        <td></td>
        <td rowspan="2">28</td>
        <td rowspan="2">￥1680</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <u>2019</u>年
          <u>07</u>月
          <u>4</u>日
          <u>09:25</u>时
          <span>从</span>
          <u>南昌</u>出发
        </td>
        <td></td>
        <td>
          <u>2019</u>年
          <u>07</u>月
          <u>8</u>日
          <u>09:25</u>时
          <span>到达</span>
          <u>杭州</u>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>&nbsp;&nbsp;</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td> </td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>4</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>从</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td></td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>&nbsp;&nbsp;</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td> </td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>6</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>从</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td></td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>&nbsp;&nbsp;</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td> </td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td>8</td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>从</span>
          <u>&nbsp;&nbsp;</u>出发
        </td>
        <td></td>
        <td>
          <u>&nbsp;&nbsp;</u>年
          <u>&nbsp;&nbsp;</u>月
          <u>&nbsp;&nbsp;</u>日
          <u>&nbsp;&nbsp;</u>时
          <span>到达</span>
          <u>&nbsp;&nbsp;</u>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div>
    <div>
      <span>备注: 每次出差请填写两条记录，分别表示去程和返程内容。同时报销，可填写在同一张统计表上。</span>
    </div>
    <div style="display: inline-block;width: 50%;">
      <span>财务:</span>
    </div>
    <div style="display: inline-block;width: 50%;">
      <span>制单人:</span>
    </div>
  </div>
</div>

<essence-ng2-print
  [mode]="'popup'"
  [popTitle]="'表格打印'"
  [btnText]="'打印'"
  [btnClass]="{'btn': true, 'btn-info': true}"
  [printHTML]="print"
  [printStyle]="printStyle"
  [printCSS]="printCSS"
  [showBtn]="printBtnBoolean"
  (click)="beforePrint()"
  (printComplete)="printComplete()">
</essence-ng2-print>
