<div class="row" style="padding: 20px 20px 0px 0px" #print>
  <div style="text-align: center"><img src="http://127.0.0.1:4200/assets/img/goshine.png"
                                       style="transform: scale(1.5);"></div>
  <div>
    <div style="display: inline-block;width: 70%;">
      <span style="font-size: 25px;color: black; font-weight: bold;">出差补贴统计单</span>
    </div>
    <div style="display: inline-block; width: 30%">
      <span>ST-MT-02 v1.0.0</span>
    </div>
    <div>
      <label style="width: 50%;">部门: {{selected['orgName']}}</label>
      <label>出差人: {{selected['username']}}</label>
    </div>
  </div>
  <table class="etable">
    <thead>
      <th>序号</th>
      <th>出发</th>
      <th></th>
      <th>到达</th>
      <th></th>
      <th>天数</th>
      <th>补贴金额</th>
      <th>备注</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
