<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)" data-validate="parsley">
  <section class="panel panel-default">
    <div class="panel-body">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>项目名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="name" placeholder="请输入项目名称...">
          <nz-form-explain
            *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors || validateForm.get('name').pending ">
            <ng-container *ngIf="validateForm.get('name').hasError('required')">
              项目名不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>项目类型</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-select formControlName="type" nzShowSearch nzAllowClear nzPlaceHolder="选择项目类型..." [(ngModel)]="type">
            <nz-option *ngFor="let option of projectTypies" [nzValue]="option.value" [nzLabel]="option.name"></nz-option>
          </nz-select>
          <nz-form-explain
            *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors || validateForm.get('type').pending ">
            <ng-container *ngIf="validateForm.get('type').hasError('required')">s
              项目类型不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>项目等级</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-select formControlName="level" nzShowSearch nzAllowClear nzPlaceHolder="选择项目等级..." [(ngModel)]="selectedLevel">
            <nz-option *ngFor="let option of projectLevels" [nzValue]="option.value" [nzLabel]="option.name"></nz-option>
          </nz-select>
          <nz-form-explain
            *ngIf="validateForm.get('level').dirty && validateForm.get('level').errors">
            <ng-container *ngIf="validateForm.get('level').hasError('required')">
              项目名不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>项目编号</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="code" placeholder="请输入项目编号...">
          <nz-form-explain
            *ngIf="validateForm.get('code').dirty && validateForm.get('code').errors">
            <ng-container *ngIf="validateForm.get('code').hasError('required')">
              项目编号不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>业务描述</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="business" placeholder="请输入业务描述...">
          <nz-form-explain
            *ngIf="validateForm.get('business').dirty && validateForm.get('business').errors">
            <ng-container *ngIf="validateForm.get('business').hasError('required')">
              项目名不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>负责人</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-select formControlName="managerId" nzShowSearch nzAllowClear nzPlaceHolder="选择负责人..." [(ngModel)]="selectedValue">
            <nz-option *ngFor="let option of allManager" [nzValue]="option.uid" [nzLabel]="option.username"></nz-option>
          </nz-select>
          <nz-form-explain
            *ngIf="validateForm.get('managerId').dirty && validateForm.get('managerId').errors">
            <ng-container *ngIf="validateForm.get('managerId').hasError('required')">
              负责人不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>所在地</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="place" placeholder="请输入所在地...">
          <nz-form-explain
            *ngIf="validateForm.get('place').dirty && validateForm.get('place').errors">
            <ng-container *ngIf="validateForm.get('place').hasError('required')">
              负责人不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>行业类别</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-select formControlName="industryType" nzShowSearch nzAllowClear nzPlaceHolder="选择行业类别..." [(ngModel)]="industryType">
            <nz-option *ngFor="let option of industryTypies" [nzValue]="option.value" [nzLabel]="option.name"></nz-option>
          </nz-select>
          <nz-form-explain
            *ngIf="validateForm.get('industryType').dirty && validateForm.get('industryType').errors">
            <ng-container *ngIf="validateForm.get('industryType').hasError('required')">
              负责人不能为空！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7">投资总额</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-input-number nz-input formControlName="amount" placeholder="请输入投资总额..."></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7">用地面积</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-input-number nz-input formControlName="areaSize" placeholder="请输入用地面积..."></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control style="text-align: center;" [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">提交</button>
          <button class="btn-danger" nz-button (click)="resetForm($event)">重置</button>
          <button class="btn-default" nz-button routerLinkActive="active" [routerLink]="Urls.BUSINESS.ZS_PROJECT.LIST">取消</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </section>
</form>
