@media (max-width: 767px) {
  /*.skip-header{*/
    /*padding-top: 50px;*/
  /*}*/
}

@media (min-width: 768px) {
  .skip-header{
    padding-top: 50px;
  }
}

.nav-xs .nav-primary li:hover > ul,
.nav-xs .nav-primary li:focus > ul,
.nav-xs .nav-primary li:active > ul {
  display: block !important;
  background-color: red;
}
