<app-crumbs [title]='crumbs.title' [subTitle]="crumbs.subTitle"></app-crumbs>
<!--<pre style="line-height: 0.9; text-align: center;">-->
<!--..=OOO@@OOOOO^..  .OO/..  ........*,`=ooooooooo`=oo[ooooOOo/*...[...                 ..\@@@@@OoOOOOOO^/@@@@OOOOOO@@@@@@OOOOOOOOOOOOO@-->
<!--....  ,OO/\o^...*.  ..../O^.......=oooooooo/*.,]]oo/[*.......                           ...*=OOooOOO@@@@@OOOO@@@@@@OOO@@OOOOOOOOo@-->
<!--.*.............[[.....**...=OOO/[oOOOOOO/`.....                                      .\/ooOO@@OOOO\oO@@@@@@OooOOOOOOOOOOO@-->
<!--...    ...***........  ....=OOooOOOo`.***..........                                          ..`=/...***/O@OOOOOOOooOOooOO@@O`@-->
<!--***.    .***,[*........ ...,ooooooOOOOo`........                                                  .......=OOOOOOOOOOOO^*ooooo.@-->
<!--... ...*/oo\*oOO\...*.....***,]/\`****\oOo*..... ..            ...................                        ......[o`=OOO@@O[\OOoooOO.@-->
<!--..,`.*/OOOOo`]]OOOOo\**,o*,]`,]oOo^*,oooo^..... ..  .....................................                      ..*`]o[oO/..=OO^=OOO.@-->
<!--..,ooooOOOOOOOOOOOooo\/oo*o/[oooooo*=oooo*....    . ............................................                 ..OOoOOO^.=OO`\O/[[@-->
<!--.....,[[[\ooOooOoOO^**/ooOOoOOoooo/*.......         ..............................................            .**OOOooOooooo]]]@-->
<!--.OOOO/[\OOOOOOOOOoooOOOo*.....         .....*********.....................................           .*OOOOOOOOO^*OOO@-->
<!--.]]ooOOOo`.*/OOOOOOOOooOOOO*......    ....*********************...................................         ,OOOOOOOOO@@@@@-->
<!--O^.    .,/OOOoOOOOOOOOO@@@@@@@@OoOOOO^.....     ...*,`**********************.......................................   .,oOOo]OO@@@@@@-->
<!--,OOoOOOOOOOOO@@@@@@@OOOOOo^*....    ....***.........*******,o\******...................................  ..  .*=oO@@@OO@@@@-->
<!--..**..  ,\ooOOOOoOOOOO@@@@@OOOOO/*...     .....................***********...............****]]`]]*]`**........ ..  ..*ooO@@@@@@@@-->
<!--........*. .=OO/oOOoOOOOO@@@@@OOOOo`...      .....       ..........**********.............***\oooooooooooo^**.............OOOO@@@@@@@-->
<!--.oo^..,OOOOOO@@@@@@@OOOOO`..                      .........********.............**********,[[oo,[`*****..........\OOO@@@@@@@-->
<!--]]...****.../OOOOOOOO@@@@@@@OOOOo`..             .   ...............******.............***.....****************,oo*.......*\OOO/[[[[@-->
<!--*]]]/oo,*...,OOOoOO@@@@@@@@OOOOO`.            .....**....*...........*****........***........********......*****oo`.......*/OOOOo],]@-->
<!--.[OOOOOOO\]]/oOOOOO@@@@@@OOOOO^.          ....,/oOOOOOOOOoooo`***...******.......*****....*********............*=o*......*\OOOOOO@@@-->
<!--........,OOOOooOOOOOO@@@@@OOOO^.          ..*=oOOOOOO@OOOOOOOOO\***********.......***************.................,o*.....*=OOO@@@@@@-->
<!--.,oOOOOOOOOOO@OOOOO.             ....   .....[[OOOOOOO]********...........******=[**...........   ......*......*=OO@@@@@@@-->
<!--,/OOOOOOOOOOOOOOO^                 ...............[OOOO`*****............***********..........       .........*ooOOO,OOO@-->
<!--..]OOOOOOOOOOOOOOOOOO.                .....**,]`]]]**...**,`*.................***=^**************.....    ........,oOOO@@OO`@-->
<!--....    .\ooooOO@@@OOOOOOOOO^.               .......*,\OOOOOOOOOo]*....................********\ooooOOOOOOo\*...  ........*oOOO@@@@@@-->
<!--/OOo/***/oOooOO@@@@OO@OOOOOO^..                  ......*,\ooOOOOOo*......................**.*/OOOOOOOo\oOOOOOOO\..........*oOOO@@@OO@-->
<!--****\o`****.=OO@@@OOOOo\]oOo..                        ......*****..... .....     ...........,\O[[[[[\O/OO@@@@OOO\*.........=OOO@@Oo=@-->
<!--...*oOoooooooOOOOOOOOOOOOOO/..                          ............                ........*]]]]]`........,[OOOO\*........=OOO@@@O*@-->
<!--O`*oOOOOOOOoooOOOOO@OOOOOOO^..                                   ....                  ....*oOOOOOOOoo/]`*......`**....  ..=OOO@@@@^@-->
<!--OOOOO@@@@\]/OOOOOO@@OOOOOO\.. .                         ...............                  ....*ooOOOOOOOOOoo*...............=OO@@@@@@@-->
<!--OOO@@@@@@@@@OOOOO@@@@OOOO**.  .              ..............*****..                          ...*[[[ooo/***......          .=OO@@@@@@@-->
<!--OOOOOOOOOOOooOOOOOO@@Oo/o**.        .................***]oOOO^..    ...............    .....   ..............          ....OO@@@@@@@@-->
<!--OOOOOOOOOOOOOOOOO@@@@@o.*o`        ...............**/oOOOOOOo`....]]]oo\]]/]]`]`.....   ..*..                         ....*O@@@@@@@@@-->
<!--OOOOOOOOOOOOOO@@@@@@@@^.,o.  ...............*****=oooOOOOoooOOooOOO@@OOOOOOOOOOo]/\*...  .=o^...                      ....=O@@@@@@@@@-->
<!--OOOOOOO@@@@@@@@@@@@@@@O.**. ..............*]]]o`*/ooooo/*..*[OOOO@@@@@@@@OOOOOOOOOOO\]]]...OOO^....                     ..=@@@@@@@@@@-->
<!--OOOOOOOOOOOOOOOO@@@@@@O...............****/oooo]ooOOo****....*,oOOOOOOOOOOOOOOO@@@@@@@OO**/oOOOo`*...             ...  ..,O@@@@@@@@@@-->
<!--ooo/\oOOoooo\**oOOOOOOo.........*..****,ooooooOOOOOOoo**.........**,ooOOOOOOOOOO@@@@@@@OOOOOOOOOOo`*......      .........=OO@@@@@@@@@-->
<!--*****=o[*******oOOOOOOO^........*****,ooooooOOOOOOOOoo^*...........**,**,[ooooooOOOOOOOOo/**oOOOOOOo`*............ ....../OO@@@@@@@@@-->
<!--***************/OOOOO@@\.....**.****oooooooOOOOOOOOOo/*...................**********o/*.....*[oOOOoooo`*................=OOO@@@@@@@@@-->
<!--,o]*********,oOOOOoOO@@O`....******oooooOOOOOOOOOOOoo*........*]]`*.........................**oooOOOooo*****...........,OOO@@@@@@@@@@-->
<!--=oo\ooOOooooo\]]***oO@@@^..**.***,/ooooOOOOOOOOOOOOOOooooOOOOOOOOOOOOOOO\]`****.............**/oOoOoooooo`*****........oOOO@@@@@@@@@@-->
<!--OOOOOOOooooooooo/OOOOOOOO..*****=]oooooOOOOOOOO@@OOOOOO@@@@@@@@@@@@@OO@@@OOOOOOOo]]........***oooOOOoooooo]*****.......OOO@@@@@@@@@@@-->
<!--OOOOOOooooooooooOOOOOO@@@O`*,,*.**ooooOOOOOOOOO@@@@@@@@@@@@@@@@OOOOOOO@@@@@@@@@@@@OOO\`******ooOOOOOOoooooooo^,**......oOO@@@@@@@@@@@-->
<!--OOOOOOoOOOOOoooOOOOOoOOOOOO`*=]***/oooOOOOOOOOOOOOO@@@@@@@@@@@@@@@@OOOOOOOOOOO@@@@@@@@OOoo]/ooOOOOOOOOOOOOOoooo`****...oO@@@@@@@@@@@@-->
<!--OOOOOOOOOOOOOOooOOOOOOOOOOOO\*,^*=oooooOOOOOOOOOOOOOOO@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@OOOOOOOOOOOOOOOOOOOoooo***...=O@@@@@@@@@@@O@-->
<!--@OOOOOOOOOOOOOOOOOOOOOOOOOOOOo[`=ooooooOOOOOOOOOooo//\oOOOOOOOOOOOo/\oOOOO@@@@@@@@@@@@@@@@@@@OOOOOOOOOOOOOOOoooo***..,O@@@@@@@@@@@@O@-->
<!--OOOOOOOOOOOOOOOOOOOoOOOOOOO@@Oo*/ooOOOOOOOOOOOOO]o******[oooOOOOOOOOOOO\]OOOOO@@@@@@@@@@@@@@@@@@OOOOOOOOOOOOooooo^..*O@@@@@@@@@@@@@@@-->
<!--@O@@@@OOOOOOOOOOOOOOOOOOOO@@@OOO\ooooOOOOOOOOOooo`*******oooOoooOOOOOOOOOOOOOOOOOO@@@@@@@@@@@@@OOOOOOOOOOOOooooo,`..=@@@@@@@@@@@@@@@@-->
<!--@OOO@@@OOOO@OOOO@@OOOOOOOO@OO@@@OoooOOOOOOOOooo^*****/ooooooOOOOOoooo/\oooooo]oooooooOOOoooOOOOOOOOOOOOOOOOOooo^****O@@@@@@@@@@@@@@@@-->
<!--@@@@@@@OOOOOO@@@@OOo/OOOO@@@@@@@@OOoo/oOo/oooo^*****,oooooooooOOOOOOOOOOOOOOooooooooooooo/oOOOOOOOoOOOOOOOOoooo`*,/O@@@@@@@@@@@@@@@@@-->
<!--@@OOOOOOOOOOOOOOOOO@@@@@@@@@@@OOO@@@OoOOO[oo^,/*****=ooooOOOOOOOOOOOOOOOOOOOOOOOoooooooo`,oOOOOOOOOOOOOOOoooooooooO@@@@@@@@@@@@@@@@@@-->
<!--@OOO@OOO@@@@@O@O@@@@@@@@@@@@@@@@@@@@@O[`..*ooo******oooooOOOOOOOOOOOOOOOOOOOOOOOOOOOoooo],oOOOOOOOOOOOOooOOOooooOOOO@@@@@@@@@@@@@@@@@-->
<!--OO@@OOO@@@OOOOO@@@@@@@@@@@@@@@@@@@/    ,*.***,`*****oooooooooooOOOOOOOOOOOOOOOOOOOOoooooo\ooOOOOOOOOOOOOOOOooOO@@@OOO@@@@@@@@@@@@@@@@-->
<!--@OOOOOOOOOOOO@@@@@@@@@@@@@@@@@/[      .OO..**************[[[**[oooooooOOOOOOOOOooooooo^\[*,oOOOOOOOOOOOOO/\oO@@@@@@@@@@@@@@@@@@@@@@@@-->
<!--OOOOOOOOOOOOOO@@@@@@@@@@@@/`          .O/..=o//oo\]]********************\ooooooooo[*****,ooOOOOOOOOOOOOooO@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!--@OOOOOOOO@@@OOO@@@@OOO/`               =^..*,*=oooooooo]************...***************\ooooOOO^.\@@OO/O@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!--@OOOOOOOOOOOOOOOOO[                    .*..**`oooooooooooooooooo]]`************]****/oooOooOO`    ,OO@@@@OOO@@@@@@@OO@@@@@@@@@@@@@@@@-->
<!--OOOOOOOO@O@@OO`                         .****oooooOOooooooooooOOOOoooooooooo/oooooooooooooOO^*.      ..,[[[\@@@@@@@@@@@@@@@@@@@@@@@@@-->
<!--oOOOOO@OO/[.                            ..****=ooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoooo`**.       .....     \@@@@@@@@@@@@@@@@@@@@@-->
<!--OOOOOO/.                                 .*****oooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoo=OO`.       ......       ,\@@@@@@@@@@@@@@@@@@-->
<!--OOOO`                                     ..**,oooOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoooOO^.          ......       \@@@@@@@@@@@@@@@@-->
<!--OO/                                        .**/oooOOOOOOOOOOOOO@@OOOOOOOOOOOOOOOOOOOOOoooOO.                          \@@@@@@@@@@@@@@-->
<!--`                                           .**,\oOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoooO@^                              \@@@@@@@@@@@-->
<!--..=ooooOOOOOOOOOOOOOOOO@@OOOOOOOOOOOOOOoooo@@^                                .\@@@@@@@@-->
<!--.***oooOOOOOOOOOOOOOOOOOOOOOOOOOOOoooooOO@O.                                   ,\OO@O@-->
<!--.*,OO*OOOOOOOOOOOOOOOOOOOOOOOOooooooOOOO`            .                          ,O@@-->
<!--..**O/OOOOOOOOOOOOOOOOOOOOOOOOooooOOO/.          .....                           ,@-->
<!--,]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]           ,]]`.,                            @-->
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@O@O@@@-->
<!--@@@OO/@@OOO@@OO@@@@@@@O@@O@@@@@@@@@@OO@\O@@@@@@@@@@OOO@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@O@@@O@@@@@OOO@@OOO@@=@]/@@@/@@@-->
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@\/@@@]/OOOOO@@-->

<!--</pre>-->

<div class="row" style="padding-top: 20px; min-width: 500px; max-width: 800px; margin: auto;" #print>
  <div style="text-align: center"><img src="http://127.0.0.1:4200/assets/img/goshine.png" style="transform: scale(1.5);"></div>
  <div>
    <div style="display: inline-block;width: 70%;">
      <span style="font-size: 25px;color: black; font-weight: bold;">出差申请单</span>
    </div>
    <div style="display: inline-block; width: 30%">
      <span>ST-MT-01v1.0.1</span>
    </div>
  </div>
  <table class="etable">
    <tr style="text-align: center;line-height: 3em;">
      <td colspan="2" style="color: #333; font-weight: bold;">申请人</td>
      <td colspan="2">李德健</td>
      <td colspan="2" style="color: #333; font-weight: bold;">所属部门</td>
      <td colspan="2">开发实施部</td>
      <td colspan="2" style="color: #333; font-weight: bold;">申请日期</td>
      <td colspan="2">2019-07-01</td>
    </tr>
    <tr style="text-align: center;line-height: 3em;">
      <td colspan="2" style="color: #333; font-weight: bold;">差期</td>
      <td colspan="10">
        <span>2019 年 7 月 2 日 上午 9 时</span>
        至
        <span>2019 年 7 月 3 日 下午 6 时</span>
      </td>
    </tr>
    <tr>
      <td colspan="2"  style="color: #333; font-weight: bold;text-align: center;">出差事由</td>
      <td colspan="10">
        <div>
          <input name="planType" type="radio"/> 售前
          <input name="planType" type="radio"/> 项目
          <input name="planType" type="radio"/> 其他
        </div>
        <div style="color: black; font-weight: bold;">目的和计划：</div>
        <div><br/>送标书<br/><br/></div>
      </td>
    </tr>
    <tr style="text-align: center;line-height: 3em;">
      <td colspan="2" style="color: #333; font-weight: bold;">目的地</td>
      <td colspan="3">衢州</td>
      <td colspan="3" style="color: #333; font-weight: bold;">部门负责人意见</td>
      <td colspan="4">同意</td>
    </tr>
    <tr style="text-align: center;line-height: 3em;">
      <td colspan="2" style="color: #333; font-weight: bold;">分管领导意见</td>
      <td colspan="3">同意</td>
      <td colspan="3" style="color: #333; font-weight: bold;">运营管理部确认</td>
      <td colspan="4">同意</td>
    </tr>
    <tr style="text-align: center;line-height: 3em;">
      <td colspan="2" style="color: #333; font-weight: bold;">人力资源部核准</td>
      <td colspan="3">同意</td>
      <td colspan="3" style="color: #333; font-weight: bold;">总经理意见</td>
      <td colspan="4">同意</td>
    </tr>
  </table>
</div>
<essence-ng2-print
  [mode]="'popup'"
  [popTitle]="'表格打印'"
  [btnText]="'打印'"
  [btnClass]="{'btn': true, 'btn-info': true}"
  [printHTML]="print"
  [printStyle]="printStyle"
  [printCSS]="printCSS"
  [showBtn]="printBtnBoolean"
  (click)="beforePrint()"
  (printComplete)="printComplete()">
</essence-ng2-print>
